/* Define custom CSS variables at the root level */
:root {
    --main-white: #E7ECEF;
    --main-light-blue: #6096BA;
    --main-medium-blue: #274C77;
    --main-dark-blue: #003459;
    --main-black: #00171F;
}

/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Basic styles for the HTML element */
html {
    font-size: 62.5%; /* Sets the base font size to 62.5% of the default (typically 10px) for easier rem unit usage */
    box-sizing: border-box; /* Helps with element sizing and padding calculations */
    scroll-behavior: smooth; /* Enables smooth scrolling behavior for anchor links */
}

/* Media query for screens with a max width of 1200px */
@media (max-width: 1200px) {
    html {
        font-size: 60%; /* Reduce font size for smaller screens */
    }
}

/* Media query for screens with a max width of 980px */
@media (max-width: 980px) {
    html {
        font-size: 58%; /* Further reduce font size for even smaller screens */
    }
}

/* Media query for screens with a max width of 460px */
@media (max-width: 460px) {
    html {
        font-size: 55%; /* Further reduce font size for the smallest screens */
    }
}

/* Basic styles for the entire body of the page */
body {
    font-family: Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    overflow-x: hidden; /* Hide horizontal scrollbar if content overflows */
}

/* Styles for h1 and h2 headers */
h1, h2 {
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

/* Remove list bullets */
ul {
    list-style: none;
}

/* Remove underlines and set link color to white */
a {
    text-decoration: none;
    color: var(--main-white);
}

/* Basic styles for images */
img {
    display: block;
    width: 100%;
}

/* Styles for the navigation bar */
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-light-blue);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover {
    background: var(--main-medium-blue);
}

/* Media query for screens with a max width of 460px */
@media (max-width: 460px) {
    .nav-list {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

/* Styles for the "Welcome" section */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-black);
}

.welcome-section p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-light-blue);
}

/* Styles for the "Projects" section */
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-medium-blue);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.3rem solid var(--main-white);
}

/* Media query for screens with a max width of 288px */
@media (max-width: 288px) {
    .projects-section-header {
        font-size: 4rem;
    }
}

/* Styles for the "Projects Grid" */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

/* Styles for individual project elements */
.project {
    background: var(--main-dark-blue);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    border-radius: 4px;
}

/* Styles for code within projects */
.code {
    color: var(--main-dark-blue);
    transition: color 0.3s ease-out;
}

/* Hover effect for code within projects */
.project:hover .code {
    color: #ff7f50;
}

/* Styles for project images */
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

/* Styles for project titles */
.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

/* Styles for buttons */
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 3px;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-dark-blue);
    transition: background 0.3s ease-out;
}

/* Hover effect for the "Show All" button */
.btn-show-all:hover {
    background: var(--main-light-blue);
}

/* Hover effect for the icon within the "Show All" button */
.btn-show-all:hover > i {
    transform: translateX(2px);
}

/* Position and styles for the contact section */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-dark-blue);
}

.contact-section-header h2 {
    font-size: 6rem;
}

/* Media query for screens with a max width of 460px */
@media (max-width: 460px) {
    .contact-section-header h2 {
        font-size: 4rem;
    }
}

.contact-section-header p {
    font-style: italic;
}

/* Styles for contact links and details */
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

/* Hover effect for contact details */
.contact-details:hover {
    transform: translateY(8px);
}

/* Styles for the footer */
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-dark-blue);
    border-top: 4px solid var(--main-light-blue);
}

footer > p {
    margin: 2rem;
}

/* Media query for screens with a max width of 460px */
@media (max-width: 460px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}
